﻿@page
@model sso.Pages.Home.Index

<div class="welcome-page">
    <h1>
        @* <img src="logo.svg" class="logo"> *@
        Welcome to TyVan Identity Provider
        <small class="text-muted">(version @Model.Version)</small>
    </h1>

    <ul >
        <li>
            Publishes a
            <a href="~/.well-known/openid-configuration">discovery document</a>
            where you can find metadata and links to all the endpoints, key material, etc.
        </li>
        <li>
            @* Click <a href="~/diagnostics">here</a> to see the claims for your current session. *@
        </li>
        <li>
            Click <a href="~/account/register">here</a> to create account
        </li>
        <li>
            @* Click <a href="~/ciba/all">here</a> to view your pending CIBA login requests. *@
        </li>
        @* <li>
            Here are links to the
            <a href="https://github.com/duendesoftware/IdentityServer">source code repository</a>,
            and <a href="https://github.com/duendesoftware/samples">ready to use samples</a>.
        </li> *@
    </ul>
</div>
